<%- include('layout/header') %>

<div class="ui segment">
  <p>
		<h1 class="text-center">
			<i class="compass icon"></i>
			度分秒转换
		</h1>
		<div class="ui divider"></div>

	<div class="doubling stackable two column ui grid container">
	  <div class="column">
    	<div class="ui fluid right labeled left input">
  	  	<div class="ui label">纬度</div>
  	  	<input type="number" min="0" placeholder="输入度数">
  	  	<div class="ui tag label">°</div>
    	</div>
	  </div>
	  <div class="column">
    	<div class="ui fluid right labeled left input">
  	  	<div class="ui label">经度</div>
  	  	<input type="number" min="0" placeholder="输入度数">
  	  	<div class="ui tag label">°</div>
    	</div>
	  </div>
  	<div class="sixteen wide column text-center">
	  	<button class="ui secondary button fluid large">
	  		<i class="exchange icon"></i> 转换
	  	</button>
  	</div>
	  <div class="column">
	    <div class="ui segment">Content</div>
	  </div>
	  <div class="column">
	    <div class="ui segment">Content</div>
	  </div>
	  <div class="column">
	    <div class="ui segment">Content</div>
	  </div>
	  <div class="column">
	    <div class="ui segment">Content</div>
	  </div>
	</div>

  </p>
</div>

<%- include('layout/footer') %>